doctype 5
html(lang="en")
    head
        style(type='text/css').
            body{ font-family: Helvetica, Arial }
            p {
                margin: 10px;
            }
            .title {
                font-family: Arial, Helvetica;
                border-bottom: 1px solid black;
                padding: 20px;
                text-align: center;
                margin-bottom: 0;
            }
            .index {
                margin-right: 15px;
                text-transform: uppercase;
            }
            .product {
                background: #f3f3f3;
                padding: 15px;
            }
            .product:nth-child(odd) {
                background: #efefef;
            }
        title #{title}
    body 
    div(class="container")
        h1(class="title") All promotions in #{channel} department
        each val in message
            div(class="product")
                each value, index in val
                    p 
                        span(class="index") #{index}:
                        span #{value}
                    br