<ion-header>
  <ion-navbar>
    <ion-title>Home v13</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Message: {{ alert }}</p>

  <ion-buttons end>
    <button ion-button full (click)="scan()"> Scan Nu</button>
  </ion-buttons>
  <ion-list> 
    <button ion-item *ngFor="let device of devices">
      <h2>{{ device.name || 'Unnamed' }}</h2>
      <p>{{ device.id }}</p>
      <p>RSSI: {{ device.rssi }}</p>
    </button>  
  </ion-list>
  <ion-list> 
    <button ion-item *ngFor="let m of message">
      <h2>{{ m.product || 'Unnamed' }}</h2>
      <p>brand {{ m.brand }}</p>
      <p>discount {{m.precentage}} %</p>
      <p>promotion ends at {{m.ends}}</p>
    </button>  
  </ion-list>

  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar> 

</ion-content>
